.ProductItem__card{
    width: 386px;
    float: left;
    margin-left: 25px;
    margin-top: 20px;
    border: 1px solid;
    box-shadow: 0 0 10px rgb(164, 164, 164);
}

.ProductItem__image{
    width: 100%;
    height: 300%;
    border: 0px;
}

.ProductItem__div1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.ProductItem__div2 {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding-right: 20px;

}

.ProductItem__button{
    color:aliceblue;
    text-decoration: none;
}